* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* Full height of the viewport */
	background-color: #FAFAF9;
}

.item {
	/* Styles for the item here */
	width: 368px;
	background-color: #FFFFFF;
	padding: 16px;
	font-family: "Sora", sans-serif;
}

.fistBorder {
	border-radius: 15px 15px 0 0;
}

.lastBorder {
	border-radius: 0 0 15px 15px;
}

.img {
	margin-bottom: 16px;
	height: 152px;
	width: 100%;
	border-radius: 15px;
}

.design {
	color: #883AE1;
	font-size: 10px;
	font-weight: bold;
	background-color: #E6D6FC;
	display: inline-block;
	padding: 6px 16px;
	border-radius: 10px;
	margin-bottom: 16px;
}

h2 {
	font-size: 18px;
	margin-bottom: 6px;
}

.body {
	font-size: 14px;
	margin-bottom: 10px;
}

.footer {
	font-size: 12px;
	margin: 10px 0;

}

hr {
	border: none;
	border-top: 1px solid #C5C5CA;
}

p {
	color: #6C727F;
}
